<div>
    <form (ngSubmit)="insertProfessionist()">
        <div>
            <label for="firstname"> Firstname </label>
            <input type="text">
            <br><br>
            <label for="lastname"> Lastname </label>
            <input type="text">
            <br><br>
            <label for="profession"> Profession </label>
            <input type="text">
            <br><br>
            <label for="birthdate"> Birthdate </label>
            <input type="date">
            <br><br>
            <label for="address"> Address </label>
            <input type="text">
            <br><br>
            <label for="region"> Region </label>
            <input type="text">
            <br><br>
            <label for="postalcode"> Postalcode </label>
            <input type="text">
            <br><br>
            <label for="destinationId"> Destinazion </label>
            <select>
                <option value="1"> Europe </option>
                <option value="2"> USA </option>
                <option value="3"> Asia </option>
            </select>
            <br><br>
            <label for="phone"> Phone </label>
            <input type="text">
            <br><br>
            <label for="mail"> Mail </label>
            <input type="text">
            <br><br>
            <label for="minAvailability"> Min Availability </label>
            <input type="text">
            <br><br>
            <label for="maxAvailability"> Max Availability </label>
            <input type="text">
            <br><br>
            <button type="submit"> INSERT </button>
        </div>
    </form>
</div>