<div class="form">
    <form (ngSubmit)="upsert()" [formGroup]="requestForm">
        <div>
            <label for="skill"> Company Name </label>
            <input type="text" formControlName="companyName">
            <br><br>
            <label for="skill"> Project Name </label>
            <input type="text" formControlName="projectName">
            <br><br>
            <label for="destinationId"> Destination </label>
            <select formControlName="destination">
                <option value='Europe'> Europe </option>
                <option value='USA'> USA </option>
                <option value='Asia'> Asia </option>
            </select>
            <br><br>
            <label for="skill"> Skill </label>
            <input type="text" formControlName="skill">
            <br><br>

            <button class="button" type="submit"> {{ request? "UPDATE" : "INSERT" }} </button>
            <button class="button" type="reset"  (click)="cancel()">CANCEL</button>
        </div>
    </form>
</div>

