<div>
    <table class="table" *ngIf="requests && requests.length">
        
        <thead>
            <tr class="head-table">
                <th> ID </th>
                <th> Company Name </th>
                <th> Project Name </th>
                <th> Destination </th>
                <th> Skill Required </th>
                <th> Candidature </th>
            </tr>
        </thead>
        <tbody>
            <tr class="body-table" *ngFor="let req of requests">
                <td> {{ req.id }} </td>
                <td> {{ req.companyName }} </td>
                <td> {{ req.projectName }} </td>
                <td> {{ req.destination }} </td>
                <td> {{ req.skill }} </td>
                <td> {{ req.candidature }} </td>
                <td>
                    <button class="button" (click)="onDelete(req.id)">Delete</button>
                </td>
                <td>
                    <button class="button" (click)="onSelect(req)">Update</button>
                </td>
                <td>
                    <button class="button" (click)="onCandidature(req)">Candidate</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
